.prolist {
    display: flex;
    flex: 1;
    padding: 76px 155px;
}
.homepage>img{
    border-radius: 15px;
    box-shadow: -10px 10px 10px 5px rgb(184, 184, 184);
}
.desk{
    width: 960px;
    height: 450px;
}
.mobile{
    width: 250px;
    height: 450px;
}
.iconList{
    display: flex;
    justify-content: right;
    gap: 45px;
    padding: 15px 0;
}
.iconList>li>a>p{
    font-family: "Jacques Francois", serif;
    color: var(--main);
    text-align: center;
}
.homeTxt{
    width: 40%;
    display: flex;
}
.homeTxt ul{
    padding-left: 40px;
}
.protit{
    font-size: 50px;
    font-family: "Inter", sans-serif;
    letter-spacing: -7px;
    position: relative;
}
.protit::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 400px;
    background-color: var(--font);
    top: 0;
    left: -20px;
}
.procate{
    color: var(--main);
    opacity: 70%;
    font-size: 50px;
    font-family: "Jacques Francois", serif;
    letter-spacing: -5px;

}
.prodate{
    margin: 15px 0;
    font-size: 14px;
}
.protext{
    font-size: 14px;
    white-space: pre;
}

.homeTxt p{
    font-family: "Jacques Francois", serif;
    font-size: 50px;
}
.homepage{
    position: relative;
    left: 0;
}
.mobile{
    position: absolute;
    top: 180px;
    left: -110px;
}

@media screen and (max-width:500px){
    .prolist {
        display: flex;
        flex: 1;
        padding: 10px;
    }
    .desk{
        width: 300px;
        height: auto;
    }
    .mobile{
       width: 150px;
       height: auto;
    }
    .iconList{
        display: flex;
        justify-content: right;
        gap: 45px;
        padding: 35px 0;
    }
}