.prolist {
    display: flex;
    flex: 1;
    padding: 76px 155px;
}
.homepage>img{
    border-radius: 15px;
    box-shadow: -10px 10px 10px 5px rgb(184, 184, 184);
}
.desk{
    width: 960px;
    height: 450px;
}
.mobile{
    width: 230px;
    height: 450px;
    position: absolute;
    top: 180px;
    left: -110px;
}
.iconList{
    display: flex;
    justify-content: right;
    gap: 45px;
    padding: 15px;
}
.iconList>li>a>p{
    font-family: "Jacques Francois", serif;
    color: var(--main);
    text-align: center;
}
.homeTxt{
    width: 40%;
    display: flex;
}
.homeTxt ul{
    padding-left: 40px;
}
.protit{
    font-size: 50px;
    font-family: "Inter", sans-serif;
    letter-spacing: -7px;
    position: relative;
}
.protit::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 400px;
    background-color: var(--font);
    top: 0;
    left: -20px;
}
.procate{
    color: var(--main);
    opacity: 70%;
    font-size: 50px;
    font-family: "Jacques Francois", serif;
    letter-spacing: -5px;

}
.prodate{
    margin: 15px 0;
    font-size: 14px;
}
.protext{
    font-size: 14px;
    white-space: pre;
}

.homeTxt p{
    font-family: "Jacques Francois", serif;
    font-size: 50px;
}
.homepage{
    position: relative;
    left: 0;
}
@media screen and (max-width:1600px){
    .prolist {
        padding: 30px;
    }
    .desk{
        width: 80%;
        height: auto;
        margin-left: 60px;
    }
    .mobile{
       width: 25%;
       height: auto;
       top: 130px;
       left: 20px;
    }
    .iconList{
        padding-right: 13%;
    }

}
@media screen and (max-width:1100px){

    .prolist {
        display: block;
        padding: 10px;
    }
    .desk{
        width: 80%;
        height: auto;
        margin-left: 80px;
    }
    .mobile{
       width: 20%;
       height: auto;
       top: 80px;
       left: 30px;
    }
    .iconList{
        padding: 20px 0;
        gap: 20px;
        justify-content: center;
    }
    .iconList>li>a{
        display: flex;
        gap: 10px;
    }
    .protit{
        font-size: 30px;
    }
    .protit::before{
        content: '';
        position: absolute;
        width: 1px;
        height: 100px;
    }
    .procate{
        font-size: 30px;
    }
    .homeTxt{
        width: 100%;
        display: block;
    }
    .iconList>li>a>img{
        width: 30px;
    }
}

@media screen and (max-width:768px){
    .desk{
        margin-left: 50px;
    }
    .mobile{
        width: 25%;
        height: auto;
        top: 130px;
        left: 20px;
     }
     .protext{
        font-size: 14px;
        white-space: normal;
    }

}
