.skillist{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    ". . . item1 item2"
    ". . item3 item4 item5"
    ". item6 item7 item8 item9"
    "item10 item11 item12 item13 item14";
    padding: 150px 0 0 450px;
    justify-items: center; /* 가로 방향 가운데 정렬 */
    align-items: center;   /* 세로 방향 가운데 정렬 */
}
figure{
    position: relative;
    
}
.skillist img{
    width: 50px;
    position: absolute;
    left: -25px;
}
.skillist p{
    font-family: "Jacques Francois", serif;
    font-size: 24px;
    color: var(--main);
    margin-left: 30px;
}
.skillist figcaption{
    font-family: "Inter", sans-serif;
    width: 230px;
    height: 86px;
    background-color: white;
    font-size: 14px;
    padding: 15px 10px;
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}.item4{
    grid-area: item4;
}.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item8{
    grid-area: item8;
}
.item9{
    grid-area: item9;
}
.item10{
    grid-area: item10;
}
.item11{
    grid-area: item11;
}
.item12{
    grid-area: item12;
}
.item13{
    grid-area: item13;
}
.item14{
    grid-area: item14;
}

@media screen and (max-width:768px){
    .skillist{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8" 
        "item9"
        "item10"
        "item11"
        "item12"
        "item13"
        "item14"; 
        padding: 60px 25px;
    }
    .skillist img{
        display: none;
    }
    .skillist figcaption{
        font-family: "Inter", sans-serif;
        width: 320px;
        height: 66px;
        background-color: white;
        font-size: 14px;
        padding: 6px 10px;
    }
}