section{
    position: relative;
    top: 0;
    width: 100%;
    height: calc(100vh - 76px);
    padding: 80px 52PX 10px 52px;
    overflow: hidden;
    transition: 0.5s;
}
h2{
    font-family: "Archivo Black", sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px var(--main);
    color: var(--main);
    opacity: 50%;
    letter-spacing: -15px;
}
h3{
    font-family: "Jacques Francois", serif;
    color: var(--main);
    -webkit-text-stroke: 1px var(--main);
    font-weight: 300;
    letter-spacing: -10px;
}
/* intro start */
.intro h2{
    font-size: 25vw;
    letter-spacing: -30px;
    line-height: 360px;
    text-align: center;
    opacity: 100%;
    text-align: center;
}

.intro h3{
    font-family: "Parisienne";
    font-size: 128px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    -webkit-text-stroke: 2px var(--main);
}
.intro p{
    font-family: "Archivo", sans-serif;
    font-size: 24px;
    position: absolute;
    color: var(--main);
    bottom: 0;
    right: 20px;
}

/* year start */
.year{
    position: relative;
}
.year div:first-child{
    position: absolute;
    top: 450px;
    left: 20px;
    writing-mode: vertical-lr;
    font-family: "Archivo", sans-serif;
    transform: translate(-50%,-50%);
    color: var(--main);
    font-size: 20px;
}
.year div:last-child{
    position: absolute;
    top: 450px;
    right: 0px;
    transform: translate(-50%,-50%);
    writing-mode: vertical-rl;
    font-family: "Archivo", sans-serif;
    color: var(--main);
    font-size: 20px;
    white-space: pre;
}

/* about start */
.about article{
    display: flex;
    justify-content: space-around;
}
.about article>div{
    width: 50%;
}
.faceWrap{
    position: relative;
}
.face img{
    width: 400px;
    height: 374px;
    background-color: var(--main);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.aboutTxt{
    padding-left: 100px;
}
.about h4{
    font-family: "Jacques Francois", serif;
    font-size: 4vw;
    color: var(--main);
    font-weight: 300;
    text-align: center;
    margin-bottom: 80px;
}
.about div>ul{
    display: flex;
    justify-content: right;
    gap: 80px;
    padding-right: 50px;
}
.infoTit{
    font-family: "Jacques Francois", serif;
    font-size: 28px;
    color: var(--main);
}
.infoTit ul{
    font-size: 14px;
    color: var(--font);
    font-family: "Inter", sans-serif;
}
.infoTit ul>li{
    position: relative;
    margin: 10px 0;
    padding-left: 20px;
}
.infoTit ul>li::after{
    content: '·';
    display: block;
    position: absolute;
    top: 3px;
    left: 10px;
}
.about h2{
    font-size: 12vw;
    color: var(--main);
    letter-spacing: -15px;
    position: absolute;
    left: 20px;
    bottom: 0px;
}
.about h3{
    font-size: 6vw;
    font-weight: 300;
    letter-spacing: -10px;
    color: var(--main);
    -webkit-text-stroke: 1px var(--main);
    position: absolute;
    left: 17%;
    bottom: 6%;
}
/* skills start */

.skills h2{
    font-size: 10vw;
    position: absolute;
    left: 20px;
    top: 0;
}
.skills h3{
    font-size: 7vw;
    font-weight: 300;
    letter-spacing: -10px;
    position: absolute;
    left: 12%;
    top: 6%;
}
/* project start */
.project h2{
    font-size: 18vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.project h3{
    font-size: 12vw;
    position: absolute;
    left: 35%;
    top: 30%;
    transform: translate(-50%,-50%);
    letter-spacing: -15px;
}
.project p{
    font-family: "Jacques Francois", serif;
    font-size: 2vw;
    color: var(--font);
    position: absolute;
    left: 75%;
    top: 63%;
    transform: translate(-50%,-50%);
}
/* web start */
.web h2{
    font-size: 40vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.web h3{
    font-size: 15vw;
    position: absolute;
    right: 7%;
    bottom: 6%;
}
.web p{
    font-family: "Jacques Francois", serif;
    font-size: 4vw;
    color: var(--font);
    letter-spacing: -3px;
    position: absolute;
    right: 5%;
    bottom: 35%;
}

/* Cloning start */
.cloning{
    padding: 76px 155px;
}
.protit1{
    font-size: 50px;
    font-family: "Inter", sans-serif;
    letter-spacing: -7px;
    position: relative;
}
.protit1::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 220px;
    background-color: var(--font);
    top: 0;
    left: -20px;
}
.swiper {
    margin-top: 180px;
    width: 100%;
    height: 350px;
  }
  
  .swiper-slide {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  .swiper-slide:hover .siteHover{
    opacity: 100%;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

.siteHover{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 100px;
    background-color: #ea5656e5;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0;
    opacity: 0%;
    transition: 0.5s;
}
.siteHover h5{
    font-size: 24px;
    font-family: "Inter", sans-serif;
}
.siteHover pre{
    font-family: "Inter", sans-serif;
    padding: 20px;
    font-size: 16px;
    text-align: center;
}
.siteHover button{
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 10px;
}
.siteHover button>a{
    display: block;
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
}
.siteHover button:hover{
    background-color: #fff;
    
    color: var(--main);
}
.siteHover button>a:hover{
    color: var(--main);
}

/* 태블릿 반응형 */
@media screen and (max-width:1500px){
    .face img{
        width: 250px;
        height: auto;
    }
}
@media screen and (max-width:1200px){
    section{
        padding: 80px 20PX 10px 20px;
    }
    .intro h2{
        font-size: 250px;
        letter-spacing: -20px;
        line-height: 300px;
    }
    .intro h3{
        font-family: "Parisienne";
        font-size: 100px;
        position: absolute;
        top: 38%;
        left: 33%;
        transform: translate(-50%,-50%);
        -webkit-text-stroke: 2px var(--main);
    }
    .intro p{
        font-family: "Archivo", sans-serif;
        font-size: 24px;
        position: absolute;
        color: var(--main);
        bottom: 0;
        right: 0;
    }
    .about h4{
        font-size: 5vw;
        margin-bottom: 80px;
    }
    .about div>ul{
        flex-direction: column;
        gap: 10px;
        padding-right: 50px;
    }
    .about article>div{
        width: 100%;
    }
    .project h3{
        left: 35%;
        top: 35%;
    }
    .web h3{
        right: 7%;
        bottom: 15%;
    }
}

/* 모바일 반응형 */
@media screen and (max-width:768px){
    #intro{
        overflow: visible;
        overflow-x: hidden;
        height: 100vh;
        padding: 20px 10px;
    }
    .intro h2{
        position: absolute;
        font-size: 25vw;
        letter-spacing: -10px;
        
    }
    .intro .port{
        top: 15%;
        left: 10%;
        line-height: 55vw;
    }    
    .intro .folio{
        top: 45%;
        left: 10%;
        line-height: 55vw;
    }
    .intro h3{
        font-size: 12vw;
        letter-spacing: -1px;
        left: 20%;
        top: 45%;
    }
    .intro p{
        font-size: 16px;
    }
/* about */
#about{
    height: 100%;
}
.about article{
    flex-direction: column;
}
.aboutFt{
    margin: 80px;
}
.face img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0);
}
.aboutTxt{
    padding-left: 10%;
}
.about h4{
    font-size: 40px;
    margin: 240px 0 10px 50px;
}
.about div>ul{
    flex-direction: column;
    gap: 10px;
    padding-right: 50px;
}

.about h2{
    font-size: 60px;
    letter-spacing: -7px;
}
.about h3{
    font-size: 30px;
    letter-spacing: -3px;
    bottom: 0%;
}
/* skill */
.skills{
    height: auto;
    padding: 150px 0 0;
}
.skills h2{
    font-size: 120px;
    position: absolute;
    left: 0;
    top: 40px;
}
.skills h3{
    font-size: 68px;
    font-weight: 300;
    letter-spacing: -10px;
    position: absolute;
    left: 10%;
    top: 6%;
}
/* project start */
.project h2{
    font-size: 15vw;
    letter-spacing: -5px;
}
.project h3{
    font-size: 12vw;
    left: 35%;
    top: 40%;
    letter-spacing: -5px;

}
.project p{
    font-size: 18px;
    position: absolute;
    left: 35%;
    top: 55%;
    transform: translate(0);
}

.web h2{
    font-size: 40vw;
}
.web h3{
    font-size: 50px;
    right: 7%;
    top: 53%;
}
.web p{
    font-size: 40px;
    right: 5%;
    bottom: 46%;
}
/* cloning */
.cloning{
    padding: 10px 5px;
}
.siteHover{
    padding: 70px 0 10px;
    white-space: normal;
}

.siteHover button{
    margin: 10px;
}
.siteHover h5{
    font-size: 20px;
}

}

@media screen and (max-width:580px){
    .intro .port{
        top: 18%;
        left: 10%;
    }    

}
@media screen and (max-width:430px){
    .intro .port{
        top: 28%;
        left: 10%;
    }    

}