header{
    position: sticky;
    top: 0;
    z-index: 99999;
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 52px;
    align-items: center;
}
h1>a{
    font-family: "Parisienne";
    font-size: 30px;
    color: var(--main);
    -webkit-text-stroke: 1px var(--main);
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 30px;
  height: 22px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--font);
  border-radius: 4px;
  z-index: 99;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 10px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
  background-color: #fff;
}
.more{
    width: 360px;
    height: 100vh;
    background-color: var(--main);
    padding: 200px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 90;
}
.show{
    transition: 0.5s;
    right: 0;
}
.hide{
    transition: 1s;
    right: -800px;
}
.more li{
    margin: 30px 0;
    text-align: center;
}
.more li>a{
    font-family: "Jacques Francois", serif;
    font-size: 36px;
    color: #FFF;
}
.more li>a::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.more li>a:hover::after{
    width: 100%;
}


@media screen and (max-width:768px){
  nav{
    padding: 10px 20px;
}
.more{
  visibility: hidden;
}
.show{
  visibility: visible;
}

}
